body {
    font-family: 'VT323', monospace;
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.allContent {
    background-color: white;
    margin: 0 auto;
    margin-top: 7vh;
    text-align: center;
    width: 60vw;
    height: 65vh;
    border-radius: 5px;
}

#searchField {
    margin-top: 15px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 25px;
}

#pokeData {
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    font-family: 'VT323', monospace;
    font-size: 1.25em;
    color: #fff;
    background: #CC0000;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

input {
    border: 2px black solid;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 8px;
    font-family: 'VT323', monospace;
}

textarea:focus, input:focus{
    outline: none;
}

button:focus {
    outline: none;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 25px;
}

ul {
    list-style-type: none;
    font-size: 1.5em;
  }

h2, li {
    text-transform: capitalize;
}

img {
    height: 250px;
    width: auto;
}

footer {
    display: flex;
    position: fixed;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.fab {
    margin-right: 4px;
    margin-left: 4px;
}